@model SegConRep.emisionproceso

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>emisionproceso</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emisionproceso_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emisionproceso_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emisionproceso_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emisionproceso_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.emisionproceso_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
