@model IEnumerable<SegConRep.actor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Actor/Actriz", "Create")
</p>
<table class="table table-responsive table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_update)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_update)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.actor_id },new {@class = "btn btn-primary" }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.actor_id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.actor_id })
        </td>
    </tr>
}

</table>
