@model IEnumerable<SegConRep.rol>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rol_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol_descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rol_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rol_descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rol_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.rol_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rol_id })
        </td>
    </tr>
}

</table>
