@model SegConRep.poliza

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>poliza</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.poliza_numero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.poliza_numero)
                @Html.ValidationMessageFor(model => model.poliza_numero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.poliza_producto_1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.poliza_producto_1)
                @Html.ValidationMessageFor(model => model.poliza_producto_1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.poliza_producto_2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.poliza_producto_2)
                @Html.ValidationMessageFor(model => model.poliza_producto_2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.poliza_zona, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.poliza_zona)
                @Html.ValidationMessageFor(model => model.poliza_zona)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.poliza_oficina, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.poliza_oficina)
                @Html.ValidationMessageFor(model => model.poliza_oficina)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.poliza_estado_id, "poliza_estado_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("poliza_estado_id", String.Empty)
                @Html.ValidationMessageFor(model => model.poliza_estado_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
