@model IEnumerable<SegConRep.grupo>

@{
    ViewBag.Title = "Grupos";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Grupos</h2>

<p>
    @Html.ActionLink("Crear Nuevo Grupo", "Create", null, new { @class = "btn btn-primary"})
</p>
<table class="table table-responsive btn table-condensed btn table-striped">
    <tr>
        <th>
            Nombre
            @*@Html.DisplayNameFor(model => model.grupo_nombre)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.grupo_nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.grupo_id }, new {@class = "btn btn-sm btn-primary" })
            @Html.ActionLink("Detalle", "Details", new { id=item.grupo_id },new {@class = "btn btn-sm btn-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.grupo_id },new {@class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
