@model SegConRep.usuario

@{
    ViewBag.Title = "Creación de Nuevo Usuario";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Creación de Nuevo Usuario</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Esta es una prueba para usuarios</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.usuario_usuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuario_usuario)
                @Html.ValidationMessageFor(model => model.usuario_usuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario_email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuario_email)
                @Html.ValidationMessageFor(model => model.usuario_email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario_grupo_id, "usuario_grupo_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("usuario_grupo_id", String.Empty)
                @Html.ValidationMessageFor(model => model.usuario_grupo_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario_perfil_id, "usuario_perfil_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("usuario_perfil_id", String.Empty)
                @Html.ValidationMessageFor(model => model.usuario_perfil_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario_estadousuario_id, "usuario_estadousuario_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("usuario_estadousuario_id", String.Empty)
                @Html.ValidationMessageFor(model => model.usuario_estadousuario_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario_clave, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuario_clave)
                @Html.ValidationMessageFor(model => model.usuario_clave)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario_nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuario_nombre)
                @Html.ValidationMessageFor(model => model.usuario_nombre)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
