@model SegConRep.usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>usuario</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuario_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadousuario.estadousuario_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadousuario.estadousuario_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupo.grupo_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupo.grupo_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.perfil.perfil_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.perfil.perfil_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento.departamento_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento.departamento_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.usuario_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
