@model SegConRep.estadousuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>estadousuario</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estadousuario_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadousuario_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadousuario_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadousuario_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.estadousuario_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
